[user]
	name = Hui Su
	email = suhui@zeku.com
[core]
	editor = vim
[commit]
	template = ~/.git_ci.txt

[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	pl = pull
	ps = push
	last = log -1 HEAD
	unstage = reset HEAD --
	df = diff
	dfl = diff HEAD~
	dfc = diff --cached
	chp = cherry-pick
[core]
	  editor = vim
	excludesfile = /home/sh/.gitignore_global
[color]
	  ui = auto

[http]
    sslverify = false

[https]
    sslverify = false

[sendemail]
        smtpserver = smtp.office365.com
        smtpserverport = 587
        smtpuser = suhui@zeku.com
        smtpencryption = tls
        smtppass = 1234hjkl!
